.container {
  margin: 0 auto;
  max-width: 800px;
  max-height: min-content;
  /* background-color: burlywood; */
  /* opacity: 0.8; */
  text-align: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('vecteezy/vecteezy_grid-paper-on-a-white-background-vector-illustration-for_7875353.jpg');
  background-size: cover;
  color: #191716;
}

.card-header {
  /* background-color: blueviolet; */
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline overline dotted black;
}

.header {
  margin: 30px auto 0;
  font-size: 50px;
}

.card-recipes {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: antiquewhite; */
  /* border-radius: 5px; */
}

.list-recipe {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.recipe {
  flex: 1;
  background-color: white;
  border: 2px solid #191716;
  margin: 20px;
  padding: 20px;
  box-shadow: 10px 5px 5px #3D348B;
}

a {
  display: inline-block;
  text-decoration: none;
  line-height: 1.9;
  color: #191716;
}
